APP_NAME=Financial Tracker API
APP_ENV=development
DEBUG=true

POSTGRES_USER=slacker
POSTGRES_PASSWORD=slackerpass
POSTGRES_DB=fainance_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql+psycopg://slacker:slackerpass@localhost:5433/fainance_db

JWT_SECRET_KEY=change-this-dev-secret-key-at-least-32-chars
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080