@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700;800&display=swap&subset=vietnamese");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap&subset=vietnamese");

:root {
  --font-sans:
    "Noto Serif",
    ui-serif,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;

  --font-signature:
    "Dancing Script",
    "Segoe Script",
    "Brush Script MT",
    cursive;
}

html,
body {
  font-family: var(--font-sans);
}

.font-signature {
  font-family: var(--font-signature);
}
